// Base
$wrapper-width-page: 1152px;
$wrapper-width-article: 720px;
$bp-xs: 500px;
$bp-sm: 650px;
$bp-md: 800px;
$bp-lg: 1000px;
$bp-xl: 1280px;

// Typography
$font-base: '';
$font-regular: $font-base;


// Font sizes
$fs-base: 16px;
$fs-2xl: 1.75rem;         // 28px
$fs-xl: 1.5rem;           // 24px
$fs-xl-body: 1.3125rem;   // 21px
$fs-l: 1.25rem;           // 20px
$fs-l-body: 1.1875rem;    // 19px
$fs-m: 1.125rem;          // 18px
$fs-m-body: 1.0625rem;    // 17px
$fs-s: 1rem;              // 16px
$fs-s-body: .9375rem;     // 15px
$fs-xs: .875rem;          // 14px
$fs-xs-body: .8125rem;    // 13px
$fs-2xs: .75rem;          // 12px

// Small font letter-spacing
$ls: 0.03em;

// Spacing
$sp-3xs: 2px;
$sp-2xs: 4px;
$sp-xs: 8px;
$sp-s: 12px;
$sp-m: 16px;
$sp-l: 24px;
$sp-xl: 32px;
$sp-2xl: 48px;
$sp-3xl: 64px;
$sp-4xl: 72px;